<%= form_for(@testmdl) do |f| %>
  <% if @testmdl.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@testmdl.errors.count, "error") %> prohibited this testmdl from being saved:</h2>

      <ul>
      <% @testmdl.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tst %><br>
    <%= f.text_field :tst %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
